<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="home">
    <div class="chat-container">       
        <div class="chat-output" id="chat-output">
            <div class="warning-message" id="warning-message">
                <strong>Let op:</strong> Aangezien dit de GroeimetAI-Personal is en niet de GroeimetAI-Advanced, is het mogelijk dat de chatbot niet alle vragen kan beantwoorden.
            </div>
            <div class="message bot" id="greeting"><strong>GroeimetAI-Personal:</strong> Hallo! Ik ben GroeimetAi-Personal, uw digitale assistent. Ik ben uitgerust met algemene kennis en ik kan u helpen met basisvragen. Als u gedetailleerde of gespecialiseerde informatie nodig heeft, kunt u overwegen om te praten met mijn geavanceerdere collega, GroeimetAi-Advanced.<span class="timestamp-greeting" style="float: left;"></span></div>
        </div>
        <div class="chat-input">
            <div class="char-counter"> <span id="char-counter">0/140 karakters</span> </div>
            <div class="typing-indicator" id="typing-indicator">GroeimetAI is typing...</div>
            <input type="text" id="input-message" placeholder="Type your message here..." onkeydown="disableInput()" />
            <button id="send-btn">Send</button>
        </div>
    </div>

    <script src="/static/js/chatbot.js"></script>
</body>
</html>
